<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bayardpresse.android">

    <application
        android:name="com.bayardpresse.stickers.mortelleadele.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.bayardpresse.stickers.mortelleadele.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bayardpresse.stickers.mortelleadele.WebViewActivity"
            android:label="CGU"
            android:parentActivityName="com.bayardpresse.stickers.mortelleadele.ItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bayardpresse.android.com.bayardpresse.stickers.mortelleadele.ItemListActivity" />
        </activity>
        <activity
            android:name="com.bayardpresse.stickers.mortelleadele.ItemListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bayardpresse.android.com.bayardpresse.stickers.mortelleadele.MainActivity" />
        </activity>
        <activity
            android:name="com.bayardpresse.stickers.mortelleadele.ItemDetailActivity"
            android:parentActivityName="com.bayardpresse.stickers.mortelleadele.ItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bayardpresse.android.com.bayardpresse.stickers.mortelleadele.ItemListActivity" />
        </activity>
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true"> <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tagmanager.c.com.bayardpresse.stickers.mortelleadele" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.bayardpresse.stickers.mortelleadele.StickersPacksContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
        <provider
            android:name="com.bayardpresse.stickers.mortelleadele.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sharing_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>